html, body {
  height: 100%;
}



calc {
  display: -webkit-flex; /* Safari */
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 700px;
  padding: 20px;
  margin:20px;
}

.btnClass {
  width: 500px;
  height: 700px;

}


.numBtn {
  width: 100px;
  height: 100px;
  min-width: 100px;
  border: 1px #C016C3 dotted;
  margin: 10px;
  border-radius: 50%;
  background-color: #FF6CFF;
}

.eqBtn {
  width: 100px;
  height: 100px;
  min-width: 100px;
  border: 1px #C016C3 dotted;
  margin: 10px;
  border-radius: 50%;
  background-color: #FF6CFF;
}

.results {
width: 400px;
height: 100px;
border: 1px #C016C3 dotted;
margin: 10px;
border-radius: 2%;
}

.title {
width: 400px;
margin: 10px;
}
